@model IEnumerable<Book>

@{
    ViewData["Title"] = "Результаты поиска";
}

<h1>Результаты поиска</h1>

@if (Model.Any())
{
    <ul>
        @foreach (var book in Model)
        {
            <li><a href="@Url.Action("Index", "Book", new { id = book.Id })">@book.Title</a></li>
        }
    </ul>
}
else
{
    <p>Ничего не найдено.</p>
}
