@model OrderModel

@{
    ViewData["Title"] = "Корзина";
}

@await Html.PartialAsync("PartialDetails", Model)

<form action="@Url.Action("StartProcess")" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-success">Оформить</button>
</form>
