@model OrderModel

@{
    ViewData["Title"] = "Способ оплаты";
}

@await Html.PartialAsync("PartialDetails", Model)

<p>
    Выберите способ оплаты.
</p>
<form action="@Url.Action(nameof(OrderController.StartPayment))" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        <label for="code">Способ оплаты:</label>
        <select class="form-control" name="uid">
        @foreach (var method in Model.Methods)
        {
            <option value="@method.Key">@method.Value</option>
        }
        </select>
    </div>
    <button type="submit" class="btn btn-success">Выбрать</button>
</form>
