@model PostRedirectModel

@{
    ViewData["Title"] = Model.Description;
}

<p>@Model.Description</p>
<form action="@Model.Uri" method="post">
    @foreach (var parameter in Model.Parameters)
    {
        <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
    }
    <button type="submit" class="btn btn-success">Дальше</button>
</form>